body{
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}
header{
  margin-top: 13px;
  position: fixed;
  height: 100%;    
}

header nav{
  display: none;
}

.header-menu{
  width: 20px;
  margin-left:10px;
}

.header-contact{
  position: absolute;
  left: -25px;
  bottom: 100px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 1px;
  color: #000000;
  transform: rotate(90deg);
  display: flex;
  align-items: center;
}

.header-contact img{
  display: inline-block;
  transform: rotate(-90deg);
  margin-left: 10px;
}

main{
  margin-left: 40px;

}

.main-visual{
  padding-top: 90px;
  padding-bottom: 90px;
}

.main-visual p{
  line-height: 30px;
}

.main-visual p span{
  display: inline-block;
  padding: 0 5px;
  background: linear-gradient(transparent 10%, #000000 10%);
  color: #fff;
  display: inline-block;
  font-weight: 200;
  font-size: 20px;

  /* or 150% */
  letter-spacing: 2px;
}

.works article{
  padding-bottom: 70px;
}

.works img{
  width: 100%;
}

.works h2{
  font-family: Noto Sans JP;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
}

.works .works-text{
  font-family: Noto Sans JP;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 26px;
  color: #000000;
  width: 90%;
}

.works .more{
  background-color: #000000;
  display: flex;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.more a{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  color: #fff;
  font-style: normal;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 18px;
  padding-left: 18px;
}

.more a img{
  width: 24px;
}